td.style0 {
    vertical-align: bottom;
    border-bottom: none #000000;
    border-top: none #000000;
    border-left: none #000000;
    border-right: none #000000;
    color: #000000;
    font-family: 'Calibri';
    font-size: 11pt;
    background-color: white
}

th.style0 {
    vertical-align: bottom;
    border-bottom: none #000000;
    border-top: none #000000;
    border-left: none #000000;
    border-right: none #000000;
    color: #000000;
    font-family: 'Calibri';
    font-size: 11pt;
    background-color: white
}

td.style1 {
    vertical-align: middle;
    border-bottom: none #000000;
    border-top: none #000000;
    border-left: none #000000;
    border-right: none #000000;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: white
}

th.style1 {
    vertical-align: middle;
    border-bottom: none #000000;
    border-top: none #000000;
    border-left: none #000000;
    border-right: none #000000;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: white
}

td.style2 {
    vertical-align: middle;
    text-align: center;
    border-bottom: none #000000;
    border-top: none #000000;
    border-left: none #000000;
    border-right: none #000000;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: white
}

th.style2 {
    vertical-align: middle;
    text-align: center;
    border-bottom: none #000000;
    border-top: none #000000;
    border-left: none #000000;
    border-right: none #000000;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: white
}

td.style3 {
    vertical-align: middle;
    text-align: center;
    border-bottom: none #000000;
    border-top: none #000000;
    border-left: none #000000;
    border-right: none #000000;
    font-weight: bold;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: white
}

th.style3 {
    vertical-align: middle;
    text-align: center;
    border-bottom: none #000000;
    border-top: none #000000;
    border-left: none #000000;
    border-right: none #000000;
    font-weight: bold;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: white
}

td.style4 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 2px solid #000000 !important;
    border-top: 2px solid #000000 !important;
    border-left: 2px solid #000000 !important;
    border-right: 1px solid #000000 !important;
    font-weight: bold;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: white
}

th.style4 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 2px solid #000000 !important;
    border-top: 2px solid #000000 !important;
    border-left: 2px solid #000000 !important;
    border-right: 1px solid #000000 !important;
    font-weight: bold;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: white
}

td.style5 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 2px solid #000000 !important;
    border-top: 2px solid #000000 !important;
    border-left: 1px solid #000000 !important;
    border-right: 1px solid #000000 !important;
    font-weight: bold;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: white
}

th.style5 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 2px solid #000000 !important;
    border-top: 2px solid #000000 !important;
    border-left: 1px solid #000000 !important;
    border-right: 1px solid #000000 !important;
    font-weight: bold;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: white
}

td.style6 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 2px solid #000000 !important;
    border-top: 2px solid #000000 !important;
    border-left: 1px solid #000000 !important;
    border-right: 2px solid #000000 !important;
    font-weight: bold;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: white
}

th.style6 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 2px solid #000000 !important;
    border-top: 2px solid #000000 !important;
    border-left: 1px solid #000000 !important;
    border-right: 2px solid #000000 !important;
    font-weight: bold;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: white
}

td.style7 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 2px solid #000000 !important;
    border-top: 2px solid #000000 !important;
    border-left: 2px solid #000000 !important;
    border-right: none #000000;
    font-weight: bold;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: white
}

th.style7 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 2px solid #000000 !important;
    border-top: 2px solid #000000 !important;
    border-left: 2px solid #000000 !important;
    border-right: none #000000;
    font-weight: bold;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: white
}

td.style8 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 2px solid #000000 !important;
    border-top: 2px solid #000000 !important;
    border-left: none #000000;
    border-right: none #000000;
    font-weight: bold;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: white
}

th.style8 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 2px solid #000000 !important;
    border-top: 2px solid #000000 !important;
    border-left: none #000000;
    border-right: none #000000;
    font-weight: bold;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: white
}

td.style9 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 2px solid #000000 !important;
    border-top: 2px solid #000000 !important;
    border-left: none #000000;
    border-right: 2px solid #000000 !important;
    font-weight: bold;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: white
}

th.style9 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 2px solid #000000 !important;
    border-top: 2px solid #000000 !important;
    border-left: none #000000;
    border-right: 2px solid #000000 !important;
    font-weight: bold;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: white
}

td.style10 {
    vertical-align: middle;
    border-bottom: none #000000;
    border-top: none #000000;
    border-left: none #000000;
    border-right: none #000000;
    font-weight: bold;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: white
}

th.style10 {
    vertical-align: middle;
    border-bottom: none #000000;
    border-top: none #000000;
    border-left: none #000000;
    border-right: none #000000;
    font-weight: bold;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: white
}

td.style11 {
    vertical-align: middle;
    text-align: center;
    border-bottom: none #000000;
    border-top: 1px solid #000000 !important;
    border-left: 1px solid #000000 !important;
    border-right: none #000000;
    font-weight: bold;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: white
}

th.style11 {
    vertical-align: middle;
    text-align: center;
    border-bottom: none #000000;
    border-top: 1px solid #000000 !important;
    border-left: 1px solid #000000 !important;
    border-right: none #000000;
    font-weight: bold;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: white
}

td.style12 {
    vertical-align: middle;
    text-align: center;
    border-bottom: none #000000;
    border-top: 1px solid #000000 !important;
    border-left: 1px solid #000000 !important;
    border-right: none #000000;
    font-weight: bold;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: white
}

th.style12 {
    vertical-align: middle;
    text-align: center;
    border-bottom: none #000000;
    border-top: 1px solid #000000 !important;
    border-left: 1px solid #000000 !important;
    border-right: none #000000;
    font-weight: bold;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: white
}

td.style13 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 2px solid #000000 !important;
    border-top: 2px solid #000000 !important;
    border-left: 2px solid #000000 !important;
    border-right: 1px solid #000000 !important;
    color: #FFFFFF;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: #2D4D6A
}

th.style13 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 2px solid #000000 !important;
    border-top: 2px solid #000000 !important;
    border-left: 2px solid #000000 !important;
    border-right: 1px solid #000000 !important;
    color: #FFFFFF;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: #2D4D6A
}

td.style14 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 2px solid #000000 !important;
    border-top: 2px solid #000000 !important;
    border-left: 1px solid #000000 !important;
    border-right: 1px solid #000000 !important;
    color: #FFFFFF;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: #2D4D6A
}

th.style14 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 2px solid #000000 !important;
    border-top: 2px solid #000000 !important;
    border-left: 1px solid #000000 !important;
    border-right: 1px solid #000000 !important;
    color: #FFFFFF;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: #2D4D6A
}

td.style15 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 2px solid #000000 !important;
    border-top: 2px solid #000000 !important;
    border-left: 1px solid #000000 !important;
    border-right: 2px solid #000000 !important;
    color: #FFFFFF;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: #2D4D6A
}

th.style15 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 2px solid #000000 !important;
    border-top: 2px solid #000000 !important;
    border-left: 1px solid #000000 !important;
    border-right: 2px solid #000000 !important;
    color: #FFFFFF;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: #2D4D6A
}

td.style16 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 2px solid #000000 !important;
    border-top: 2px solid #000000 !important;
    border-left: 1px solid #000000 !important;
    border-right: 1px solid #000000 !important;
    color: #FFFFFF;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: #2D4D6A
}

th.style16 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 2px solid #000000 !important;
    border-top: 2px solid #000000 !important;
    border-left: 1px solid #000000 !important;
    border-right: 1px solid #000000 !important;
    color: #FFFFFF;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: #2D4D6A
}

td.style17 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 2px solid #000000 !important;
    border-top: 2px solid #000000 !important;
    border-left: 1px solid #000000 !important;
    border-right: none #000000;
    color: #FFFFFF;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: #2D4D6A
}

th.style17 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 2px solid #000000 !important;
    border-top: 2px solid #000000 !important;
    border-left: 1px solid #000000 !important;
    border-right: none #000000;
    color: #FFFFFF;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: #2D4D6A
}

td.style18 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 2px solid #000000 !important;
    border-top: 2px solid #000000 !important;
    border-left: none #000000;
    border-right: 2px solid #000000 !important;
    color: #FFFFFF;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: #2D4D6A
}

th.style18 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 2px solid #000000 !important;
    border-top: 2px solid #000000 !important;
    border-left: none #000000;
    border-right: 2px solid #000000 !important;
    color: #FFFFFF;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: #2D4D6A
}

td.style19 {
    vertical-align: middle;
    text-align: center;
    border-bottom: none #000000;
    border-top: none #000000;
    border-left: none #000000;
    border-right: none #000000;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: white;
}

th.style19 {
    vertical-align: middle;
    text-align: center;
    border-bottom: none #000000;
    border-top: none #000000;
    border-left: none #000000;
    border-right: none #000000;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: white
}

td.style20 {
    vertical-align: middle;
    border-bottom: 1px solid #000000 !important;
    border-top: 1px solid #000000 !important;
    border-left: 2px solid #000000 !important;
    border-right: 2px solid #000000 !important;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: #DEEAF6
}

th.style20 {
    vertical-align: middle;
    border-bottom: 1px solid #000000 !important;
    border-top: 1px solid #000000 !important;
    border-left: 2px solid #000000 !important;
    border-right: 2px solid #000000 !important;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: #DEEAF6
}

td.style21 {
    vertical-align: middle;
    text-align: left;
    padding-left: 0px;
    border-bottom: 1px solid #000000 !important;
    border-top: 1px solid #000000 !important;
    border-left: none #000000;
    border-right: none #000000;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: #DEEAF6
}

th.style21 {
    vertical-align: middle;
    text-align: left;
    padding-left: 0px;
    border-bottom: 1px solid #000000 !important;
    border-top: 1px solid #000000 !important;
    border-left: none #000000;
    border-right: none #000000;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: #DEEAF6
}

td.style22 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #000000 !important;
    border-top: 1px solid #000000 !important;
    border-left: 2px solid #000000 !important;
    border-right: 1px solid #000000 !important;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: white
}

th.style22 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #000000 !important;
    border-top: 1px solid #000000 !important;
    border-left: 2px solid #000000 !important;
    border-right: 1px solid #000000 !important;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: white
}

td.style23 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #000000 !important;
    border-top: 1px solid #000000 !important;
    border-left: 1px solid #000000 !important;
    border-right: 1px solid #000000 !important;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: white
}

th.style23 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #000000 !important;
    border-top: 1px solid #000000 !important;
    border-left: 1px solid #000000 !important;
    border-right: 1px solid #000000 !important;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: white
}

td.style24 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #000000 !important;
    border-top: 1px solid #000000 !important;
    border-left: 1px solid #000000 !important;
    border-right: none #000000;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: white
}

th.style24 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #000000 !important;
    border-top: 1px solid #000000 !important;
    border-left: 1px solid #000000 !important;
    border-right: none #000000;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: white
}

td.style25 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #000000 !important;
    border-top: 1px solid #000000 !important;
    border-left: 2px solid #000000 !important;
    border-right: 1px solid #000000 !important;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: white
}

th.style25 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #000000 !important;
    border-top: 1px solid #000000 !important;
    border-left: 2px solid #000000 !important;
    border-right: 1px solid #000000 !important;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: white
}

td.style26 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #000000 !important;
    border-top: 1px solid #000000 !important;
    border-left: 1px solid #000000 !important;
    border-right: 1px solid #000000 !important;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: white
}

th.style26 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #000000 !important;
    border-top: 1px solid #000000 !important;
    border-left: 1px solid #000000 !important;
    border-right: 1px solid #000000 !important;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: white
}

td.style27 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #000000 !important;
    border-top: 1px solid #000000 !important;
    border-left: 1px solid #000000 !important;
    border-right: 2px solid #000000 !important;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: white
}

th.style27 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #000000 !important;
    border-top: 1px solid #000000 !important;
    border-left: 1px solid #000000 !important;
    border-right: 2px solid #000000 !important;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 10pt;
    background-color: white
}

table.sheet0 col.col0 {
    width: 203.333331pt
}

table.sheet0 col.col1 {
    width: 203.333331pt
}

table.sheet0 col.col2 {
    width: 60.32222153pt
}

table.sheet0 col.col3 {
    width: 55.57777714pt
}

table.sheet0 col.col4 {
    width: 69.13333254pt
}

table.sheet0 col.col5 {
    width: 55.57777714pt
}

table.sheet0 col.col6 {
    width: 126.74444299pt
}

table.sheet0 col.col7 {
    width: 74.5555547pt
}

table.sheet0 col.col8 {
    width: 74.5555547pt
}

table.sheet0 col.col9 {
    width: 74.5555547pt
}

table.sheet0 col.col10 {
    width: 74.5555547pt
}

table.sheet0 col.col11 {
    width: 60.9999993pt
}

table.sheet0 col.col12 {
    width: 235.18888619pt
}

table.sheet0 col.col13 {
    width: 43.37777728pt
}

table.sheet0 .column2 {
    visibility: collapse;
    display: none
}

table.sheet0 .column3 {
    visibility: collapse;
    display: none
}

table.sheet0 .column4 {
    visibility: collapse;
    display: none
}

table.sheet0 .column5 {
    visibility: collapse;
    display: none
}

table.sheet0 tr {
    height: 20.1pt
}

table.sheet0 tr.row0 {
    height: 18.75pt
}

table.sheet0 tr.row1 {
    height: 32.25pt
}

input[type="text"] {
    height: 32px;
}

.add {
    cursor: pointer;
}

span.select2.select2-container.select2-container--bootstrap-5 {
    width: auto;
    height: 32px;
}

span.select2-selection.select2-selection--single {
    height: 32px;
}

.floatRight {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

span.select2.select2-container.select2-container--bootstrap-5 {
    width: 200px !important;
}

.filled {
    height: 32px;
    display: inline-block;
    line-height: 32px;
    border: 1px solid;
    padding-left: 5px;
    width: 180px;
}

table#sheet0 {
    margin-bottom: 25px;
}